<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/adminHome.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><button onclick="window.location.href='/admin/notify'">notify</button></li>
            <li><button onclick="window.location.href='/admin/shop'">shop</button></li>
            <li><button onclick="window.location.href='/admin/bills'">bills</button></li>
            <li><button onclick="window.location.href='/'">logout</button></li>
        </ul>
    </nav>
</body>
</html>