<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to bills page   /admin/bills</h1>
    <nav>
        <ul>
            <li><button onclick="window.location.href='/admin/notify'">notify</button></li>
            <li><button onclick="window.location.href='/admin/shop'">shop</button></li>
            <li><button onclick="window.location.href='/admin/home'">home</button></li>
            <li><button onclick="window.location.href='/'">logout</button></li>
        </ul>
</body>
</html>