<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to shop page - /admin/shop</h1>
    <nav>
        <ul>
            <li><button onclick="window.location.href='/admin/notify'">notify</button></li>
            <li><button onclick="window.location.href='/admin/home'">home</button></li>
            <li><button onclick="window.location.href='/admin/bills'">bills</button></li>
            <li><button onclick="window.location.href='/'">logout</button></li>
        </ul>
    <img src="/static/shop-img/clothing_img/clothing-gymsuit-removebg-preview.png" alt="Gym Suit">
</body>
</html>