<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to member/notification</h1>
    <ul>
        <li><button onclick="window.location.href='/member/details'">Details</button></li>
        <li><button onclick="window.location.href='/member/bill'">Bill</button></li>
        <li><button onclick="window.location.href='/member/home'">Home</button></li>
        <li><button onclick="window.location.href='/member/shop'">Shop</button></li>
        <li><button onclick="window.location.href='/member/cancelmember'">Cancel Membership</button></li>
    </ul>
</body>
</html>